@model Panda_Player.Models.PandaPlayer.LoadPlaylistSongsViewModel

@foreach (var song in Model.Select(a => a.Songs))
{

    <div class="col-md-4">
        <h4>@song.Select(a => a.Artist).FirstOrDefault() - @song.Select(t => t.Title).FirstOrDefault()</h4>
        <p>
            <button class="btn btn-default btn-sm playlist" onclick="wavesurfer.load('@song.Select(s => s.SongPath).FirstOrDefault()'); setTimeout(play, delay);">
                <i class="fa fa-play-circle" aria-hidden="true"></i>
            </button>
        </p>
    </div>

}


@*@Html.Partial("LoadPlaylist")*@  

@Ajax.ActionLink("Load", "LoadPlaylist", "Playlists", new { id = item.Id }, new AjaxOptions { HttpMethod = "GET" }, new { @class = "btn btn-primary playlist" })
@*<button class="btn btn-primary playlist">
        <i class="fa fa-play-circle-o" aria-hidden="true"></i>
    </button>*@