<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title">Ban</h3>
            </div>
            <div class="modal-body" id="Description"></div>
            <div>
                <label>Choose</label>
                <form id="data">
                    <input type="text" name="start" />
                    <input type="text" name="duration" />
                </form>
            </div>
            
                <div class="modal-footer">
                    <a href="#" class="btn btn-default" data-dismiss="modal">Cancel</a>
                    <a href="#" class="btn btn-danger" onclick="Ban(data)">Ban</a>
                </div>
            </div>
    </div>
</div>