<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <nav id="spy">
                <ul class="sidebar-nav nav playlistbox"></ul>
            </nav>
        </div>
    </div>

    @*<script src="~/Scripts/jquery-1.10.2.min.js"></script>*@
    @*<link href="~/Content/bootstrap.css" rel="stylesheet" />*@
    <script src="~/Scripts/playlistToggle.js"></script>
    @*<link href="~/Content/Site.css" rel="stylesheet" />*@

</body>
</html>