<body onload="setTimeout(play, delay)"></body>
<div id="waveform">
    <button class="btn btn-primary" onclick="wavesurfer.playPause()">
        <i class="fa fa-play-circle-o" aria-hidden="true"></i>
        Play
        /
        <i class="fa fa-pause-circle" aria-hidden="true"></i>
        Pause
    </button>
</div>

<script>
    function play() {
        wavesurfer.play();
    }

    var delay = 2000;

    setTimeout(play, delay)
</script>
