<div id="waveform">
    <button class="btn btn-primary" onclick="wavesurfer.playPause()">
        <i class="fa fa-play"></i>
        Play
        /
        <i class="fa fa-pause"></i>
        Pause
    </button>
</div>
