<div id="waveform">
    <button id="mute" class="btn btn-primary" onclick="wavesurfer.toggleMute()">
        <div id="muteToggle" class="toggleMute">
            <i class="fa fa-volume-up fa-2x" aria-hidden="true" id="mute-hide"></i>
        </div>
    </button>
    <button id="playPause" class="btn btn-primary" onclick="wavesurfer.playPause()">
        <i class="fa fa-pause-circle-o fa-2x" aria-hidden="true"></i>
    </button>
    <button id="menu-toggle" class="btn btn-primary">
        <i class="fa fa-bars fa-2x" aria-hidden="true"></i>
    </button>
</div>

@Html.Partial("_Playlist")

<script>

    $(function () {
        $('#mute').click(function () {
            $(this).find('i').toggleClass('fa fa-volume-up fa-2x fa fa-volume-off fa-2x');
        });
    });

    $(function () {
        $('#playPause').click(function () {
            $(this).find('i').toggleClass('fa fa-play-circle-o fa-2x fa fa-pause-circle-o fa-2x');
        });
    });

    $(document).ready(function () {
        wavesurfer.load('@ViewBag.LastSong')
        setTimeout(play, delay)
    });

    function play() {
        wavesurfer.play();

    }
    var delay = 3000;

    setTimeout(play, delay)
</script>
