<body onload="setTimeout(play, delay)"></body>

<div id="waveform">
    <button class="btn btn-primary" onclick="wavesurfer.playPause()">
        <i class="fa fa-play-circle-o fa-lg" aria-hidden="true"></i>
        
        /
        <i class="fa fa-pause-circle  fa-lg" aria-hidden="true"></i>
       
    </button>
    <button id="menu-toggle" class="btn btn-primary">
        <i class="fa fa-bars  fa-lg" aria-hidden="true"></i>
    </button>
</div>

@Html.Partial("_Playlist")

<script>
    function play() {
        wavesurfer.play();
    }

    var delay = 3000;

    setTimeout(play, delay)
</script>
